@import url('./layout.css');

/*Main navigation*/
#main-navigation-option-2 ul {
    display: flex;
    justify-content: space-around;
    background-color:#596265;
  }
  
#main-navigation-option-2 ul li {
    padding: 2.3em;
  }

#main-navigation-option-2 li a {
    color: #fff;
    text-decoration: none;
  }

#main-navigation-option-2 li a:hover {
    color: #333;
  }

/*Main header*/

/*Main content*/

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-option-1 > article {
    float: left;
    height: 300px;
    width: 200px;
    padding: 2em;
}

#main-option-1 > article img {
    width: 100%;
}

/*Aside*/

#aside-option-3 {
    border: 1px solid #ccc;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#aside-option-3 > figure > h2 {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background: #333;
    height: 50px;
    padding: 1em;
}

#aside-option-3 > figure > p {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

#aside-option-3 > figure > cite {
    background: #333;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em; 
    display: flex;   
}

