@import url('./layout.css');

/*Main navigation*/
body > nav ul {
    display: flex;
    justify-content: space-around;
    background-color:#596265;
  }
  
  body > nav li {
    padding: 2.3em;
  }

  body > nav li a {
    color: #fff;
    text-decoration: none;
  }

  body > nav li a:hover {
    color: #333;
  }

/*Main header*/

/*Main content*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 200px;
    height: 300px;
    padding: 2em;
}

article img {
    width: 100%;
}

#main-option-1 > article {
    float: left;
}

/*Aside*/

#aside-option-3 {
    border: 1px solid #ccc;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#aside-option-3 > section > h2 {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background: #333;
    height: 50px;
    padding: 1em;
}

#aside-option-3 > section > p {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

#aside-option-3 > section > cite {
    background: #333;
    color: #fff;
    margin-bottom: 1em;    
}

